# Data Preparation

In [39]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl
import datetime
from datetime import datetime

pd.set_option("display.max_columns", 1000) 
pd.set_option("display.max_colwidth", 1000)
# pd.reset_option('max_columns')
# pd.reset_option('max_colwidth')

## Dados de temperatura

In [29]:
df = pd.read_csv('../../data/raw/inmet.csv', sep=';')
df

,id_estacaometeo,id_varmeteo,nom_varmeteo,nom_longo,din_medicao,din_inclusaodl,val_medicao,val_altitude,val_latitude,val_longitude
0,A701,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,São Paulo - Mirante de Santana,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,20.6,792.06,-23.496294,-46.620087
1,A705,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Bauru,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,19.3,550.00,-22.358051,-49.028877
2,A706,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Campos do Jordão,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,18.3,1580.00,-22.750278,-45.603890
3,A707,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Presidente Prudente,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,14.5,435.55,-22.119867,-51.408638
4,A708,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Franca,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,17.3,1003.00,-20.584444,-47.382500
...,...,...,...,...,...,...,...,...,...,...
4941664,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 19:00:00.000,2022-02-13 09:56:03.000,24.1,35.00,-24.533138,-47.864140
4941665,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 20:00:00.000,2022-02-13 09:56:03.000,23.6,35.00,-24.533138,-47.864140
4941666,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 21:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140
4941667,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 22:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140
4941668,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 23:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140

In [6]:
df['id_varmeteo'].unique()
# Há 3 séries de temperatura disponíveis: temperaturas instantâneas, máximas e mínimas.
# Por constarem como linhas nos registros, devem ser transformadas em colunas.

array(['TEM_MAX', 'TEM_INS', 'TEM_MIN'], dtype=object)

In [7]:
df[df['din_medicao']=='2020-05-23 09:00:00.000']['id_estacaometeo'].value_counts().to_frame().T
# Para cada hora só há 3 registros de cada estação, um para cada uma das 3 séries de temperatura.

,A701,A755,A740,A741,A744,A745,A746,A747,A748,A753,A762,A738,A763,A764,A765,A766,A767,A768,A769,A770,A739,A737,A705,A716,A706,A707,A708,A711,A712,A713,A714,A715,A718,A736,A725,A726,A727,A728,A729,A733,A734,A735,A771
id_estacaometeo,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [8]:
df['datetime'] = df['din_medicao'].map(lambda x: datetime.fromisoformat(x))
df
# A coluna de data e hora com formato string deve ser transformada para o formato adequado.
# Assim poderemos ordenar o dataframe.

,id_estacaometeo,id_varmeteo,nom_varmeteo,nom_longo,din_medicao,din_inclusaodl,val_medicao,val_altitude,val_latitude,val_longitude,datetime
0,A701,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,São Paulo - Mirante de Santana,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,20.6,792.06,-23.496294,-46.620087,2020-05-23 09:00:00
1,A705,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Bauru,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,19.3,550.00,-22.358051,-49.028877,2020-05-23 09:00:00
2,A706,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Campos do Jordão,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,18.3,1580.00,-22.750278,-45.603890,2020-05-23 09:00:00
3,A707,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Presidente Prudente,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,14.5,435.55,-22.119867,-51.408638,2020-05-23 09:00:00
4,A708,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Franca,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,17.3,1003.00,-20.584444,-47.382500,2020-05-23 09:00:00
...,...,...,...,...,...,...,...,...,...,...,...
4941664,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 19:00:00.000,2022-02-13 09:56:03.000,24.1,35.00,-24.533138,-47.864140,2019-03-17 19:00:00
4941665,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 20:00:00.000,2022-02-13 09:56:03.000,23.6,35.00,-24.533138,-47.864140,2019-03-17 20:00:00
4941666,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 21:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140,2019-03-17 21:00:00
4941667,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 22:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140,2019-03-17 22:00:00
4941668,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 23:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140,2019-03-17 23:00:00

In [9]:
df_ins = df[df['id_varmeteo']=='TEM_INS'].sort_values(['datetime','id_estacaometeo'], ascending=True)
df_min = df[df['id_varmeteo']=='TEM_MIN'].sort_values(['datetime','id_estacaometeo'], ascending=True)
df_max = df[df['id_varmeteo']=='TEM_MAX'].sort_values(['datetime','id_estacaometeo'], ascending=True)
df_ins = df_ins.reset_index().drop('index', axis=1)
df_min = df_min.reset_index().drop('index', axis=1)
df_max = df_max.reset_index().drop('index', axis=1)

# O dataframe é separado em 3, um para cada série de temperatura, e então 
# é ordenando primeiro no tempo e depois segundo o código da estação.

df_max.shape, df_ins.shape, df_min.shape
# Os 3 possuem o mesmo número de linhas.

((1647223, 11), (1647223, 11), (1647223, 11))

In [10]:
pd.concat([
    df_max[['datetime', 'id_estacaometeo']], 
    df_ins[['datetime', 'id_estacaometeo']], 
    df_min[['datetime', 'id_estacaometeo']]
], axis=1, ignore_index=True)
# Verificando que a concatenação lateral simples une os valores das três
# séries de temperatura corretamente graças ao ordenamento adotado.

,0,1,2,3,4,5
0,2018-01-01 00:00:00,A701,2018-01-01 00:00:00,A701,2018-01-01 00:00:00,A701
1,2018-01-01 00:00:00,A705,2018-01-01 00:00:00,A705,2018-01-01 00:00:00,A705
2,2018-01-01 00:00:00,A706,2018-01-01 00:00:00,A706,2018-01-01 00:00:00,A706
3,2018-01-01 00:00:00,A707,2018-01-01 00:00:00,A707,2018-01-01 00:00:00,A707
4,2018-01-01 00:00:00,A708,2018-01-01 00:00:00,A708,2018-01-01 00:00:00,A708
...,...,...,...,...,...,...
1647218,2022-06-13 11:00:00,A767,2022-06-13 11:00:00,A767,2022-06-13 11:00:00,A767
1647219,2022-06-13 11:00:00,A768,2022-06-13 11:00:00,A768,2022-06-13 11:00:00,A768
1647220,2022-06-13 11:00:00,A769,2022-06-13 11:00:00,A769,2022-06-13 11:00:00,A769
1647221,2022-06-13 11:00:00,A770,2022-06-13 11:00:00,A770,2022-06-13 11:00:00,A770
1647222,2022-06-13 11:00:00,A771,2022-06-13 11:00:00,A771,2022-06-13 11:00:00,A771

In [11]:
df_new = df_ins
df_new['temp_ins'] = df_ins['val_medicao']
df_new['temp_min'] = df_min['val_medicao']
df_new['temp_max'] = df_max['val_medicao']
df_new.drop([
    'id_varmeteo', 
    'nom_varmeteo', 
    'din_medicao', 
    'din_inclusaodl', 
    'val_medicao',
    'val_altitude'
], axis=1, inplace=True)
df_new
# Limpeza do dataframe

,id_estacaometeo,nom_longo,val_latitude,val_longitude,datetime,temp_ins,temp_min,temp_max
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.1,21.0,21.3
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.2,21.2,21.7
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.4,15.2,15.5
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.7,22.7,23.2
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.5,19.5,20.1
...,...,...,...,...,...,...,...,...
1647218,A767,São Sebastião,-23.810833,-45.402500,2022-06-13 11:00:00,NaN,NaN,NaN
1647219,A768,Tupã,-21.927252,-50.490250,2022-06-13 11:00:00,18.2,16.4,18.3
1647220,A769,Cachoeira Paulista,-22.688889,-45.005554,2022-06-13 11:00:00,15.9,13.7,15.9
1647221,A770,São Simão (SP),-21.461111,-47.579445,2022-06-13 11:00:00,18.4,15.6,18.5
1647222,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-06-13 11:00:00,14.3,13.2,14.3

In [12]:
df_new
# df_new.to_csv('../../data/processed/data_nulls.csv')

In [13]:
df_new[df_new['temp_ins'].isnull()].shape

(361619, 8)

In [14]:
df_new.isnull().sum().sum(), df_new[['temp_ins','temp_min','temp_max']].isnull().sum().sum()
# Há nulos apenas nas séries de temperatura.

(1091429, 1091429)

In [15]:
df_new['ano'] = df_new['datetime'].dt.year
df_new['mes'] = df_new['datetime'].dt.month
df_new['dia'] = df_new['datetime'].dt.day
df_new['hora'] = df_new['datetime'].dt.hour
df_new

,id_estacaometeo,nom_longo,val_latitude,val_longitude,datetime,temp_ins,temp_min,temp_max,ano,mes,dia,hora
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.1,21.0,21.3,2018,1,1,0
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.2,21.2,21.7,2018,1,1,0
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.4,15.2,15.5,2018,1,1,0
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.7,22.7,23.2,2018,1,1,0
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.5,19.5,20.1,2018,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1647218,A767,São Sebastião,-23.810833,-45.402500,2022-06-13 11:00:00,NaN,NaN,NaN,2022,6,13,11
1647219,A768,Tupã,-21.927252,-50.490250,2022-06-13 11:00:00,18.2,16.4,18.3,2022,6,13,11
1647220,A769,Cachoeira Paulista,-22.688889,-45.005554,2022-06-13 11:00:00,15.9,13.7,15.9,2022,6,13,11
1647221,A770,São Simão (SP),-21.461111,-47.579445,2022-06-13 11:00:00,18.4,15.6,18.5,2022,6,13,11
1647222,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-06-13 11:00:00,14.3,13.2,14.3,2022,6,13,11

### Preenchendo nulos

O método escolhido para preencher os dados faltantes foi o agrupamento pela média de cada estação em cada mês:

In [16]:
df_group = df_new.groupby(['id_estacaometeo', 'mes'])[['temp_ins', 'temp_min', 'temp_max']].mean().reset_index()
df_group

    id_estacaometeo  mes   temp_ins   temp_min   temp_max
0              A701    1  23.444194  22.889973  24.049059
1              A701    2  22.525593  22.006796  23.096848
2              A701    3  22.914559  22.364370  23.520425
3              A701    4  20.881361  20.375944  21.437417
4              A701    5  18.684543  18.187554  19.216371
..              ...  ...        ...        ...        ...
511            A771    8  16.587735  16.073723  17.133266
512            A771    9  18.954811  18.415665  19.526606
513            A771   10  19.277311  18.790992  19.808134
514            A771   11  19.509309  19.004550  20.062556
515            A771   12  21.376732  20.820915  21.974849

[516 rows x 5 columns]

In [68]:
df_group.isnull().sum()

id_estacaometeo     0
mes                 0
temp_ins           12
temp_min           12
temp_max           12
dtype: int64

In [69]:
df_group[df_group['temp_ins'].isnull()]
# Estação A745 ficou um ano inativa

    id_estacaometeo  mes  temp_ins  temp_min  temp_max
324            A745    1       NaN       NaN       NaN
325            A745    2       NaN       NaN       NaN
326            A745    3       NaN       NaN       NaN
327            A745    4       NaN       NaN       NaN
328            A745    5       NaN       NaN       NaN
329            A745    6       NaN       NaN       NaN
330            A745    7       NaN       NaN       NaN
331            A745    8       NaN       NaN       NaN
332            A745    9       NaN       NaN       NaN
333            A745   10       NaN       NaN       NaN
334            A745   11       NaN       NaN       NaN
335            A745   12       NaN       NaN       NaN

In [70]:
df_new[df_new['id_estacaometeo']=='A745']

,id_estacaometeo,nom_longo,val_latitude,val_longitude,datetime,temp_ins,temp_min,temp_max,ano,mes,dia,hora
720961,A745,Moela,-24.047846,-46.26334,2019-12-31 21:00:00,NaN,NaN,NaN,2019,12,31,21
721088,A745,Moela,-24.047846,-46.26334,2019-12-31 22:00:00,NaN,NaN,NaN,2019,12,31,22
721215,A745,Moela,-24.047846,-46.26334,2019-12-31 23:00:00,NaN,NaN,NaN,2019,12,31,23
721288,A745,Moela,-24.047846,-46.26334,2020-01-01 00:00:00,NaN,NaN,NaN,2020,1,1,0
721331,A745,Moela,-24.047846,-46.26334,2020-01-01 01:00:00,NaN,NaN,NaN,2020,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1647035,A745,Moela,-24.047846,-46.26334,2022-06-13 07:00:00,NaN,NaN,NaN,2022,6,13,7
1647078,A745,Moela,-24.047846,-46.26334,2022-06-13 08:00:00,NaN,NaN,NaN,2022,6,13,8
1647121,A745,Moela,-24.047846,-46.26334,2022-06-13 09:00:00,NaN,NaN,NaN,2022,6,13,9
1647164,A745,Moela,-24.047846,-46.26334,2022-06-13 10:00:00,NaN,NaN,NaN,2022,6,13,10
1647207,A745,Moela,-24.047846,-46.26334,2022-06-13 11:00:00,NaN,NaN,NaN,2022,6,13,11

Com isso, unem-se o dataframe e o agrupamento com um *left-join* sobre a chave composta:

In [17]:
df_new_2 = df_new.merge(df_group, how='left', on=['id_estacaometeo', 'mes'])

In [18]:
df_new_2['temp_ins_x'].fillna(df_new_2['temp_ins_y'], inplace=True)
df_new_2['temp_min_x'].fillna(df_new_2['temp_min_y'], inplace=True)
df_new_2['temp_max_x'].fillna(df_new_2['temp_max_y'], inplace=True)
df_new_2.drop(['ano', 'mes', 'dia', 'hora'], axis=1, inplace=True)
df_new_2.rename(columns={
    'id_estacaometeo':'estacao',
    'nom_longo':'cidade',
    'val_latitude':'lat',
    'val_longitude':'lon',
    'temp_ins_x':'temp_ins',
    'temp_min_x':'temp_min',
    'temp_max_x':'temp_max',
    'temp_ins_y':'temp_ins_group',
    'temp_min_y':'temp_min_group',
    'temp_max_y':'temp_max_group'
}, inplace=True)

In [19]:
df_new_2

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.10000,21.000000,21.30000,23.444194,22.889973,24.049059
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.20000,21.200000,21.70000,24.351405,23.707942,25.003154
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.40000,15.200000,15.50000,18.026821,17.386127,18.730534
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.70000,22.700000,23.20000,25.955840,25.373510,26.576558
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.50000,19.500000,20.10000,23.050941,22.403333,23.746747
...,...,...,...,...,...,...,...,...,...,...,...
1647218,A767,São Sebastião,-23.810833,-45.402500,2022-06-13 11:00:00,22.37847,21.840705,22.90514,22.378470,21.840705,22.905140
1647219,A768,Tupã,-21.927252,-50.490250,2022-06-13 11:00:00,18.20000,16.400000,18.30000,20.965873,20.358635,21.592032
1647220,A769,Cachoeira Paulista,-22.688889,-45.005554,2022-06-13 11:00:00,15.90000,13.700000,15.90000,18.674497,17.930021,19.462916
1647221,A770,São Simão (SP),-21.461111,-47.579445,2022-06-13 11:00:00,18.40000,15.600000,18.50000,19.944023,19.167701,20.768621
1647222,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-06-13 11:00:00,14.30000,13.200000,14.30000,17.430173,16.963261,17.933184

In [67]:
df_new_2.isnull().sum()

estacao               0
cidade                0
lat                   0
lon                   0
datetime              0
temp_ins          21537
temp_min          21537
temp_max          21537
temp_ins_group    21537
temp_min_group    21537
temp_max_group    21537
dtype: int64

In [20]:
# df_new_2.to_csv('../../data/processed/data_clean.csv')

## Dados de carga

In [21]:
df_carga = pd.read_csv('../../data/raw/carga.csv', sep=';')
df_carga

        nom_seriehistorica           din_ocorrencia val_itemserieoriginal
0       SP-ENERGISA SSE-SP  2018-01-01 00:00:00.000           368,0490112
1       SP-ENERGISA SSE-SP  2018-01-01 01:00:00.000           360,5190125
2       SP-ENERGISA SSE-SP  2018-01-01 02:00:00.000           350,4570007
3       SP-ENERGISA SSE-SP  2018-01-01 03:00:00.000            335,697998
4       SP-ENERGISA SSE-SP  2018-01-01 04:00:00.000           323,0639954
...                    ...                      ...                   ...
256771          SP-ELEKTRO  2022-02-28 19:00:00.000           3016,639893
256772          SP-ELEKTRO  2022-02-28 20:00:00.000           2983,149902
256773          SP-ELEKTRO  2022-02-28 21:00:00.000           2995,066895
256774          SP-ELEKTRO  2022-02-28 22:00:00.000            2942,10791
256775          SP-ELEKTRO  2022-02-28 23:00:00.000           2832,835938

[256776 rows x 3 columns]

In [22]:
df_carga['distribuidora'] = df_carga['nom_seriehistorica'].map(lambda x: x[3:])
df_carga['datetime'] = df_carga['din_ocorrencia'].map(lambda x: datetime.fromisoformat(x))
df_carga['carga'] = df_carga['val_itemserieoriginal'].replace(',', '.', regex=True).astype(float)
df_carga = df_carga[['distribuidora', 'datetime', 'carga']]

In [23]:
df_carga

          distribuidora            datetime        carga
0       ENERGISA SSE-SP 2018-01-01 00:00:00   368.049011
1       ENERGISA SSE-SP 2018-01-01 01:00:00   360.519012
2       ENERGISA SSE-SP 2018-01-01 02:00:00   350.457001
3       ENERGISA SSE-SP 2018-01-01 03:00:00   335.697998
4       ENERGISA SSE-SP 2018-01-01 04:00:00   323.063995
...                 ...                 ...          ...
256771          ELEKTRO 2022-02-28 19:00:00  3016.639893
256772          ELEKTRO 2022-02-28 20:00:00  2983.149902
256773          ELEKTRO 2022-02-28 21:00:00  2995.066895
256774          ELEKTRO 2022-02-28 22:00:00  2942.107910
256775          ELEKTRO 2022-02-28 23:00:00  2832.835938

[256776 rows x 3 columns]

In [24]:
# df_carga.to_csv('../../data/processed/data_carga.csv')

In [25]:
df_carga['distribuidora'].unique()

array(['ENERGISA SSE-SP', 'EDP SP', 'CPFL SANTA CRUZ', 'ELETROPAULO',
       'CPFL PIRATININGA', 'ELEKTRO', 'CPFL PAULISTA'], dtype=object)

## Dados de distribuidoras

In [26]:
df_distr = pd.read_csv('../../data/raw/distribuidoras.csv', sep=';')
df_distr

                            cidade     distribuidora
0   São Paulo - Mirante de Santana       ELETROPAULO
1                            Bauru     CPFL PAULISTA
2                 Campos do Jordão           ELEKTRO
3              Presidente Prudente   ENERGISA SSE-SP
4                           Franca     CPFL PAULISTA
5                       São Carlos     CPFL PAULISTA
6                           Iguape           ELEKTRO
7                         Sorocaba  CPFL PIRATININGA
8                          Itapeva           ELEKTRO
9               São Miguel Arcanjo   CPFL SANTA CRUZ
10                        Ourinhos   CPFL SANTA CRUZ
11                       Rancharia   ENERGISA SSE-SP
12                           Avare   CPFL SANTA CRUZ
13                      Piracicaba     CPFL PAULISTA
14                            Lins     CPFL PAULISTA
15                         Taubaté            EDP SP
16                     Votuporanga           ELEKTRO
17                           Jales           ELEKTRO
18                      Valparaiso     CPFL PAULISTA
19                  Jose Bonifácio     CPFL PAULISTA
20                        Ariranha     CPFL PAULISTA
21                        Ibitinga     CPFL PAULISTA
22                     Casa Branca   CPFL SANTA CRUZ
23                         Itapira     CPFL PAULISTA
24          São Luis do Paraitinga           ELEKTRO
25                    Barra Bonita     CPFL PAULISTA
26               Bragança Paulista   ENERGISA SSE-SP
27                           Moela           ELEKTRO
28                  Barra do Turvo           ELEKTRO
29                      Pradopolis     CPFL PAULISTA
30                        Barretos     CPFL PAULISTA
31                       Ituverava     CPFL PAULISTA
32                         Barueri       ELETROPAULO
33                         Dracena           ELEKTRO
34                         Marília     CPFL PAULISTA
35                       Bebedouro     CPFL PAULISTA
36                        Bertioga           ELEKTRO
37                        Registro           ELEKTRO
38                   São Sebastião            EDP SP
39                            Tupã   ENERGISA SSE-SP
40              Cachoeira Paulista            EDP SP
41                  São Simão (SP)     CPFL PAULISTA
42       São Paulo-SESC Interlagos       ELETROPAULO

Introduzindo a informação das distribuidoras de cada cidade no dataframe com dados meteorológicos:

In [27]:
df_new_3 = df_new_2.merge(df_distr, how='left', on='cidade')
df_new_3

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.10000,21.000000,21.30000,23.444194,22.889973,24.049059,ELETROPAULO
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.20000,21.200000,21.70000,24.351405,23.707942,25.003154,CPFL PAULISTA
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.40000,15.200000,15.50000,18.026821,17.386127,18.730534,ELEKTRO
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.70000,22.700000,23.20000,25.955840,25.373510,26.576558,ENERGISA SSE-SP
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.50000,19.500000,20.10000,23.050941,22.403333,23.746747,CPFL PAULISTA
...,...,...,...,...,...,...,...,...,...,...,...,...
1647218,A767,São Sebastião,-23.810833,-45.402500,2022-06-13 11:00:00,22.37847,21.840705,22.90514,22.378470,21.840705,22.905140,EDP SP
1647219,A768,Tupã,-21.927252,-50.490250,2022-06-13 11:00:00,18.20000,16.400000,18.30000,20.965873,20.358635,21.592032,ENERGISA SSE-SP
1647220,A769,Cachoeira Paulista,-22.688889,-45.005554,2022-06-13 11:00:00,15.90000,13.700000,15.90000,18.674497,17.930021,19.462916,EDP SP
1647221,A770,São Simão (SP),-21.461111,-47.579445,2022-06-13 11:00:00,18.40000,15.600000,18.50000,19.944023,19.167701,20.768621,CPFL PAULISTA
1647222,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-06-13 11:00:00,14.30000,13.200000,14.30000,17.430173,16.963261,17.933184,ELETROPAULO

## Unindo dados de temperatura e carga

In [36]:
df_new_3[df_new_3['datetime']=='2018-01-01 00:00:00']['distribuidora'].value_counts()

CPFL PAULISTA       16
ELEKTRO             10
ENERGISA SSE-SP      4
CPFL SANTA CRUZ      4
EDP SP               3
ELETROPAULO          2
CPFL PIRATININGA     1
Name: distribuidora, dtype: int64

In [56]:
df_new_4 = df_new_3.merge(df_carga, how='left', on=['distribuidora', 'datetime'])
df_new_4

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora,carga
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.10000,21.000000,21.30000,23.444194,22.889973,24.049059,ELETROPAULO,3691.689941
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.20000,21.200000,21.70000,24.351405,23.707942,25.003154,CPFL PAULISTA,2569.709961
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.40000,15.200000,15.50000,18.026821,17.386127,18.730534,ELEKTRO,1715.364014
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.70000,22.700000,23.20000,25.955840,25.373510,26.576558,ENERGISA SSE-SP,368.049011
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.50000,19.500000,20.10000,23.050941,22.403333,23.746747,CPFL PAULISTA,2569.709961
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647218,A767,São Sebastião,-23.810833,-45.402500,2022-06-13 11:00:00,22.37847,21.840705,22.90514,22.378470,21.840705,22.905140,EDP SP,NaN
1647219,A768,Tupã,-21.927252,-50.490250,2022-06-13 11:00:00,18.20000,16.400000,18.30000,20.965873,20.358635,21.592032,ENERGISA SSE-SP,NaN
1647220,A769,Cachoeira Paulista,-22.688889,-45.005554,2022-06-13 11:00:00,15.90000,13.700000,15.90000,18.674497,17.930021,19.462916,EDP SP,NaN
1647221,A770,São Simão (SP),-21.461111,-47.579445,2022-06-13 11:00:00,18.40000,15.600000,18.50000,19.944023,19.167701,20.768621,CPFL PAULISTA,NaN
1647222,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-06-13 11:00:00,14.30000,13.200000,14.30000,17.430173,16.963261,17.933184,ELETROPAULO,NaN

In [64]:
df_new_4.shape

(1647223, 13)

In [71]:
df_new_4.isnull().sum().sum()

224370

In [57]:
df_new_4[df_new_4['carga'].isnull()]

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora,carga
541584,A706,Campos do Jordão,-22.750230,-45.603836,2019-07-07 00:00:00,0.40000,0.400000,1.10000,11.102823,10.414785,11.817238,ELEKTRO,NaN
541588,A712,Iguape,-24.671654,-47.545895,2019-07-07 00:00:00,6.30000,6.200000,6.90000,17.892065,17.394640,18.456151,ELEKTRO,NaN
541590,A714,Itapeva,-23.981918,-48.885820,2019-07-07 00:00:00,5.00000,5.000000,6.10000,16.330544,15.688276,17.009241,ELEKTRO,NaN
541598,A729,Votuporanga,-20.403221,-49.966030,2019-07-07 00:00:00,4.40000,4.300000,5.70000,20.779328,19.858588,21.716476,ELEKTRO,NaN
541599,A733,Jales,-20.165026,-50.595135,2019-07-07 00:00:00,7.90000,7.800000,8.60000,22.607709,21.587621,23.410661,ELEKTRO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647218,A767,São Sebastião,-23.810833,-45.402500,2022-06-13 11:00:00,22.37847,21.840705,22.90514,22.378470,21.840705,22.905140,EDP SP,NaN
1647219,A768,Tupã,-21.927252,-50.490250,2022-06-13 11:00:00,18.20000,16.400000,18.30000,20.965873,20.358635,21.592032,ENERGISA SSE-SP,NaN
1647220,A769,Cachoeira Paulista,-22.688889,-45.005554,2022-06-13 11:00:00,15.90000,13.700000,15.90000,18.674497,17.930021,19.462916,EDP SP,NaN
1647221,A770,São Simão (SP),-21.461111,-47.579445,2022-06-13 11:00:00,18.40000,15.600000,18.50000,19.944023,19.167701,20.768621,CPFL PAULISTA,NaN
1647222,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-06-13 11:00:00,14.30000,13.200000,14.30000,17.430173,16.963261,17.933184,ELETROPAULO,NaN

In [61]:
df_new_4[df_new_4['carga'].isnull()].shape[0]/df_new_4.shape[0]
# Menos de 6% de linhas sem dado de carga. Serão apenas eliminadas, 
# pois carecem da informação da variável de interesse, e o objetivo é
# analisar apenas as correlações e não a série temporal.

0.05776267087091426

In [63]:
df_new_4.dropna(axis=0).shape

(1533046, 13)

In [73]:
df_new_4.shape

(1647223, 13)

In [74]:
df_new_4.dropna(axis=0, inplace=True)

In [75]:
df_new_4

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora,carga
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.1,21.0,21.3,23.444194,22.889973,24.049059,ELETROPAULO,3691.689941
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.2,21.2,21.7,24.351405,23.707942,25.003154,CPFL PAULISTA,2569.709961
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.4,15.2,15.5,18.026821,17.386127,18.730534,ELEKTRO,1715.364014
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.7,22.7,23.2,25.955840,25.373510,26.576558,ENERGISA SSE-SP,368.049011
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.5,19.5,20.1,23.050941,22.403333,23.746747,CPFL PAULISTA,2569.709961
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571360,A755,Barueri,-23.523890,-46.869446,2022-03-31 23:00:00,17.0,16.9,17.1,22.394280,21.822147,22.997316,ELETROPAULO,4829.259766
1571362,A763,Marília,-22.235222,-49.965110,2022-03-31 23:00:00,17.8,17.8,18.2,24.237866,23.606976,24.907573,CPFL PAULISTA,3982.825928
1571363,A764,Bebedouro,-20.949167,-48.490000,2022-03-31 23:00:00,20.0,20.0,20.9,25.563506,24.929171,26.210542,CPFL PAULISTA,3982.825928
1571369,A770,São Simão (SP),-21.461111,-47.579445,2022-03-31 23:00:00,20.4,20.3,21.0,24.662732,23.954681,25.417956,CPFL PAULISTA,3982.825928
1571370,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-03-31 23:00:00,16.5,16.4,16.7,21.963183,21.434620,22.536876,ELETROPAULO,4829.259766

## Dados das cidades

In [42]:
df_cid = pd.read_excel('../../data/raw/cidades.xlsx')
df_cid

,cidade,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total
0,São Paulo - Mirante de Santana,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5
1,Bauru,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0
2,Campos do Jordão,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0
3,Presidente Prudente,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0
4,Franca,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0
5,São Carlos,221950.0,46832.89,31,1136907,1863293,692404.0,127274,1188384,513757,4385112.0
6,Iguape,28841.0,40708.33,22,1978795,6576,31174.0,10263,113375,33005,194393.0
7,Sorocaba,586625.0,54878.75,29,449872,4313438,1980334.0,28485,3283635,692724,10298616.0
8,Itapeva,87753.0,30822.88,21,1826258,1154939,136484.0,137421,264608,95016,1788468.0
9,São Miguel Arcanjo,31450.0,23793.90,18,930339,9913,28219.0,58726,82195,23058,202111.0
10,Ourinhos,103035.0,29151.05,22,295818,171005,233084.0,13791,451687,178046,1047613.0
11,Rancharia,28804.0,31394.55,19,1587498,132131,48991.0,38396,112929,38997,371444.0
12,Avare,82934.0,30291.15,20,1213055,113006,172618.0,97377,338634,163559,885194.0
13,Piracicaba,364571.0,68843.70,31,1378069,6352959,1270280.0,66770,1991625,788796,10470430.0
14,Lins,71432.0,68996.22,24,570058,164482,196373.0,19250,370360,98439,848904.0
15,Taubaté,278686.0,58290.80,28,625003,1814969,822145.0,19329,1278983,293212,4228638.0
16,Votuporanga,84692.0,31236.51,21,420703,134064,289003.0,143025,417468,123718,1107278.0
17,Jales,47012.0,32977.60,21,368574,88001,147762.0,37780,226516,60743,560802.0
18,Valparaiso,22576.0,31420.79,24,857661,250775,22358.0,9558,86510,45614,414815.0
19,Jose Bonifácio,32763.0,34118.53,19,860200,129676,61148.0,47561,168162,47176,453723.0
20,Ariranha,8547.0,76951.40,27,132624,39082,7751.0,6587,36671,11113,101204.0
21,Ibitinga,53158.0,24939.53,16,689391,133359,102402.0,29079,269257,88935,623032.0
22,Casa Branca,28307.0,29941.77,21,864225,40421,46365.0,154704,105834,46954,394278.0
23,Itapira,68537.0,51107.82,27,518416,631991,135599.0,50040,295290,91932,1204852.0
24,São Luis do Paraitinga,10397.0,15911.03,19,617315,1664,9883.0,24693,30678,9199,76117.0
25,Barra Bonita,35246.0,31534.03,23,150121,93212,77052.0,3222,160823,84096,418405.0
26,Bragança Paulista,146744.0,38406.56,24,512584,1271835,416741.0,92883,750328,186881,2718668.0
27,Moela,290752.0,28417.36,30,144794,463446,1319242.0,5419,1540802,341827,3670736.0
28,Barra do Turvo,7729.0,12681.92,19,1007684,275,6206.0,3495,17135,3844,30955.0
29,Pradopolis,17377.0,29431.31,22,167378,25490,14896.0,7637,76399,27455,151877.0
30,Barretos,112101.0,39577.48,24,1566161,407555,415160.0,134655,585306,197296,1739972.0
31,Ituverava,38695.0,38094.32,22,704659,44533,90775.0,31231,181596,49707,397842.0
32,Barueri,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0
33,Dracena,43258.0,27573.28,20,487688,48947,134151.0,19708,211313,61113,475232.0
34,Marília,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0
35,Bebedouro,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0
36,Bertioga,47645.0,28923.67,28,491546,12877,349667.0,202,530342,107413,1000501.0
37,Registro,54261.0,37160.21,22,722201,23195,143247.0,19569,209442,62376,457829.0
38,São Sebastião,73942.0,40181.39,30,402395,751472,326566.0,561,612298,143235,1834132.0
39,Tupã,63476.0,29449.71,20,627986,93648,153794.0,58738,273636,105464,685280.0
40,Cachoeira Paulista,30091.0,18545.37,22,287990,15581,59674.0,10694,122726,85121,293796.0
41,São Simão (SP),14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0
42,São Paulo-SESC Interlagos,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5

## Unindo dados da cidade com distribuidoras

In [44]:
df_cid_2 = df_cid.merge(df_distr, how='left', on='cidade')
df_cid_2 # Data frame das cidades com as distribuidoras.

,cidade,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total,distribuidora
0,São Paulo - Mirante de Santana,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO
1,Bauru,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0,CPFL PAULISTA
2,Campos do Jordão,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0,ELEKTRO
3,Presidente Prudente,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0,ENERGISA SSE-SP
4,Franca,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0,CPFL PAULISTA
5,São Carlos,221950.0,46832.89,31,1136907,1863293,692404.0,127274,1188384,513757,4385112.0,CPFL PAULISTA
6,Iguape,28841.0,40708.33,22,1978795,6576,31174.0,10263,113375,33005,194393.0,ELEKTRO
7,Sorocaba,586625.0,54878.75,29,449872,4313438,1980334.0,28485,3283635,692724,10298616.0,CPFL PIRATININGA
8,Itapeva,87753.0,30822.88,21,1826258,1154939,136484.0,137421,264608,95016,1788468.0,ELEKTRO
9,São Miguel Arcanjo,31450.0,23793.90,18,930339,9913,28219.0,58726,82195,23058,202111.0,CPFL SANTA CRUZ
10,Ourinhos,103035.0,29151.05,22,295818,171005,233084.0,13791,451687,178046,1047613.0,CPFL SANTA CRUZ
11,Rancharia,28804.0,31394.55,19,1587498,132131,48991.0,38396,112929,38997,371444.0,ENERGISA SSE-SP
12,Avare,82934.0,30291.15,20,1213055,113006,172618.0,97377,338634,163559,885194.0,CPFL SANTA CRUZ
13,Piracicaba,364571.0,68843.70,31,1378069,6352959,1270280.0,66770,1991625,788796,10470430.0,CPFL PAULISTA
14,Lins,71432.0,68996.22,24,570058,164482,196373.0,19250,370360,98439,848904.0,CPFL PAULISTA
15,Taubaté,278686.0,58290.80,28,625003,1814969,822145.0,19329,1278983,293212,4228638.0,EDP SP
16,Votuporanga,84692.0,31236.51,21,420703,134064,289003.0,143025,417468,123718,1107278.0,ELEKTRO
17,Jales,47012.0,32977.60,21,368574,88001,147762.0,37780,226516,60743,560802.0,ELEKTRO
18,Valparaiso,22576.0,31420.79,24,857661,250775,22358.0,9558,86510,45614,414815.0,CPFL PAULISTA
19,Jose Bonifácio,32763.0,34118.53,19,860200,129676,61148.0,47561,168162,47176,453723.0,CPFL PAULISTA
20,Ariranha,8547.0,76951.40,27,132624,39082,7751.0,6587,36671,11113,101204.0,CPFL PAULISTA
21,Ibitinga,53158.0,24939.53,16,689391,133359,102402.0,29079,269257,88935,623032.0,CPFL PAULISTA
22,Casa Branca,28307.0,29941.77,21,864225,40421,46365.0,154704,105834,46954,394278.0,CPFL SANTA CRUZ
23,Itapira,68537.0,51107.82,27,518416,631991,135599.0,50040,295290,91932,1204852.0,CPFL PAULISTA
24,São Luis do Paraitinga,10397.0,15911.03,19,617315,1664,9883.0,24693,30678,9199,76117.0,ELEKTRO
25,Barra Bonita,35246.0,31534.03,23,150121,93212,77052.0,3222,160823,84096,418405.0,CPFL PAULISTA
26,Bragança Paulista,146744.0,38406.56,24,512584,1271835,416741.0,92883,750328,186881,2718668.0,ENERGISA SSE-SP
27,Moela,290752.0,28417.36,30,144794,463446,1319242.0,5419,1540802,341827,3670736.0,ELEKTRO
28,Barra do Turvo,7729.0,12681.92,19,1007684,275,6206.0,3495,17135,3844,30955.0,ELEKTRO
29,Pradopolis,17377.0,29431.31,22,167378,25490,14896.0,7637,76399,27455,151877.0,CPFL PAULISTA
30,Barretos,112101.0,39577.48,24,1566161,407555,415160.0,134655,585306,197296,1739972.0,CPFL PAULISTA
31,Ituverava,38695.0,38094.32,22,704659,44533,90775.0,31231,181596,49707,397842.0,CPFL PAULISTA
32,Barueri,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0,ELETROPAULO
33,Dracena,43258.0,27573.28,20,487688,48947,134151.0,19708,211313,61113,475232.0,ELEKTRO
34,Marília,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0,CPFL PAULISTA
35,Bebedouro,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0,CPFL PAULISTA
36,Bertioga,47645.0,28923.67,28,491546,12877,349667.0,202,530342,107413,1000501.0,ELEKTRO
37,Registro,54261.0,37160.21,22,722201,23195,143247.0,19569,209442,62376,457829.0,ELEKTRO
38,São Sebastião,73942.0,40181.39,30,402395,751472,326566.0,561,612298,143235,1834132.0,EDP SP
39,Tupã,63476.0,29449.71,20,627986,93648,153794.0,58738,273636,105464,685280.0,ENERGISA SSE-SP
40,Cachoeira Paulista,30091.0,18545.37,22,287990,15581,59674.0,10694,122726,85121,293796.0,EDP SP
41,São Simão (SP),14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0,CPFL PAULISTA
42,São Paulo-SESC Interlagos,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO

In [51]:
df_cons = df_cid_2.groupby('distribuidora')['consumo_total'].sum().to_frame().reset_index()
df_cons.rename(columns={'consumo_total':'consumo_total_distr'}, inplace=True)
df_cons

      distribuidora  consumo_total_distr
0     CPFL PAULISTA           33413906.0
1  CPFL PIRATININGA           10298616.0
2   CPFL SANTA CRUZ            2529196.0
3            EDP SP            6356566.0
4           ELEKTRO           10001461.0
5       ELETROPAULO          144695329.0
6   ENERGISA SSE-SP            6677447.0

In [52]:
df_cid_3 = df_cid_2.merge(df_cons, how='left', on='distribuidora')
df_cid_3 # Data frame das cidades com os dados de consumo total das distribuidoras.

,cidade,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total,distribuidora,consumo_total_distr
0,São Paulo - Mirante de Santana,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0
1,Bauru,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0,CPFL PAULISTA,33413906.0
2,Campos do Jordão,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0,ELEKTRO,10001461.0
3,Presidente Prudente,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0,ENERGISA SSE-SP,6677447.0
4,Franca,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0,CPFL PAULISTA,33413906.0
5,São Carlos,221950.0,46832.89,31,1136907,1863293,692404.0,127274,1188384,513757,4385112.0,CPFL PAULISTA,33413906.0
6,Iguape,28841.0,40708.33,22,1978795,6576,31174.0,10263,113375,33005,194393.0,ELEKTRO,10001461.0
7,Sorocaba,586625.0,54878.75,29,449872,4313438,1980334.0,28485,3283635,692724,10298616.0,CPFL PIRATININGA,10298616.0
8,Itapeva,87753.0,30822.88,21,1826258,1154939,136484.0,137421,264608,95016,1788468.0,ELEKTRO,10001461.0
9,São Miguel Arcanjo,31450.0,23793.90,18,930339,9913,28219.0,58726,82195,23058,202111.0,CPFL SANTA CRUZ,2529196.0
10,Ourinhos,103035.0,29151.05,22,295818,171005,233084.0,13791,451687,178046,1047613.0,CPFL SANTA CRUZ,2529196.0
11,Rancharia,28804.0,31394.55,19,1587498,132131,48991.0,38396,112929,38997,371444.0,ENERGISA SSE-SP,6677447.0
12,Avare,82934.0,30291.15,20,1213055,113006,172618.0,97377,338634,163559,885194.0,CPFL SANTA CRUZ,2529196.0
13,Piracicaba,364571.0,68843.70,31,1378069,6352959,1270280.0,66770,1991625,788796,10470430.0,CPFL PAULISTA,33413906.0
14,Lins,71432.0,68996.22,24,570058,164482,196373.0,19250,370360,98439,848904.0,CPFL PAULISTA,33413906.0
15,Taubaté,278686.0,58290.80,28,625003,1814969,822145.0,19329,1278983,293212,4228638.0,EDP SP,6356566.0
16,Votuporanga,84692.0,31236.51,21,420703,134064,289003.0,143025,417468,123718,1107278.0,ELEKTRO,10001461.0
17,Jales,47012.0,32977.60,21,368574,88001,147762.0,37780,226516,60743,560802.0,ELEKTRO,10001461.0
18,Valparaiso,22576.0,31420.79,24,857661,250775,22358.0,9558,86510,45614,414815.0,CPFL PAULISTA,33413906.0
19,Jose Bonifácio,32763.0,34118.53,19,860200,129676,61148.0,47561,168162,47176,453723.0,CPFL PAULISTA,33413906.0
20,Ariranha,8547.0,76951.40,27,132624,39082,7751.0,6587,36671,11113,101204.0,CPFL PAULISTA,33413906.0
21,Ibitinga,53158.0,24939.53,16,689391,133359,102402.0,29079,269257,88935,623032.0,CPFL PAULISTA,33413906.0
22,Casa Branca,28307.0,29941.77,21,864225,40421,46365.0,154704,105834,46954,394278.0,CPFL SANTA CRUZ,2529196.0
23,Itapira,68537.0,51107.82,27,518416,631991,135599.0,50040,295290,91932,1204852.0,CPFL PAULISTA,33413906.0
24,São Luis do Paraitinga,10397.0,15911.03,19,617315,1664,9883.0,24693,30678,9199,76117.0,ELEKTRO,10001461.0
25,Barra Bonita,35246.0,31534.03,23,150121,93212,77052.0,3222,160823,84096,418405.0,CPFL PAULISTA,33413906.0
26,Bragança Paulista,146744.0,38406.56,24,512584,1271835,416741.0,92883,750328,186881,2718668.0,ENERGISA SSE-SP,6677447.0
27,Moela,290752.0,28417.36,30,144794,463446,1319242.0,5419,1540802,341827,3670736.0,ELEKTRO,10001461.0
28,Barra do Turvo,7729.0,12681.92,19,1007684,275,6206.0,3495,17135,3844,30955.0,ELEKTRO,10001461.0
29,Pradopolis,17377.0,29431.31,22,167378,25490,14896.0,7637,76399,27455,151877.0,CPFL PAULISTA,33413906.0
30,Barretos,112101.0,39577.48,24,1566161,407555,415160.0,134655,585306,197296,1739972.0,CPFL PAULISTA,33413906.0
31,Ituverava,38695.0,38094.32,22,704659,44533,90775.0,31231,181596,49707,397842.0,CPFL PAULISTA,33413906.0
32,Barueri,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0,ELETROPAULO,144695329.0
33,Dracena,43258.0,27573.28,20,487688,48947,134151.0,19708,211313,61113,475232.0,ELEKTRO,10001461.0
34,Marília,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0,CPFL PAULISTA,33413906.0
35,Bebedouro,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0,CPFL PAULISTA,33413906.0
36,Bertioga,47645.0,28923.67,28,491546,12877,349667.0,202,530342,107413,1000501.0,ELEKTRO,10001461.0
37,Registro,54261.0,37160.21,22,722201,23195,143247.0,19569,209442,62376,457829.0,ELEKTRO,10001461.0
38,São Sebastião,73942.0,40181.39,30,402395,751472,326566.0,561,612298,143235,1834132.0,EDP SP,6356566.0
39,Tupã,63476.0,29449.71,20,627986,93648,153794.0,58738,273636,105464,685280.0,ENERGISA SSE-SP,6677447.0
40,Cachoeira Paulista,30091.0,18545.37,22,287990,15581,59674.0,10694,122726,85121,293796.0,EDP SP,6356566.0
41,São Simão (SP),14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0,CPFL PAULISTA,33413906.0
42,São Paulo-SESC Interlagos,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0

In [53]:
df_cid_3['consumo_proporcional'] = df_cid_3['consumo_total']/df_cid_3['consumo_total_distr']

In [54]:
df_cid_3

,cidade,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total,distribuidora,consumo_total_distr,consumo_proporcional
0,São Paulo - Mirante de Santana,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0,0.476716
1,Bauru,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0,CPFL PAULISTA,33413906.0,0.138937
2,Campos do Jordão,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0,ELEKTRO,10001461.0,0.063906
3,Presidente Prudente,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0,ENERGISA SSE-SP,6677447.0,0.434605
4,Franca,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0,CPFL PAULISTA,33413906.0,0.105090
5,São Carlos,221950.0,46832.89,31,1136907,1863293,692404.0,127274,1188384,513757,4385112.0,CPFL PAULISTA,33413906.0,0.131236
6,Iguape,28841.0,40708.33,22,1978795,6576,31174.0,10263,113375,33005,194393.0,ELEKTRO,10001461.0,0.019436
7,Sorocaba,586625.0,54878.75,29,449872,4313438,1980334.0,28485,3283635,692724,10298616.0,CPFL PIRATININGA,10298616.0,1.000000
8,Itapeva,87753.0,30822.88,21,1826258,1154939,136484.0,137421,264608,95016,1788468.0,ELEKTRO,10001461.0,0.178821
9,São Miguel Arcanjo,31450.0,23793.90,18,930339,9913,28219.0,58726,82195,23058,202111.0,CPFL SANTA CRUZ,2529196.0,0.079911
10,Ourinhos,103035.0,29151.05,22,295818,171005,233084.0,13791,451687,178046,1047613.0,CPFL SANTA CRUZ,2529196.0,0.414208
11,Rancharia,28804.0,31394.55,19,1587498,132131,48991.0,38396,112929,38997,371444.0,ENERGISA SSE-SP,6677447.0,0.055627
12,Avare,82934.0,30291.15,20,1213055,113006,172618.0,97377,338634,163559,885194.0,CPFL SANTA CRUZ,2529196.0,0.349990
13,Piracicaba,364571.0,68843.70,31,1378069,6352959,1270280.0,66770,1991625,788796,10470430.0,CPFL PAULISTA,33413906.0,0.313355
14,Lins,71432.0,68996.22,24,570058,164482,196373.0,19250,370360,98439,848904.0,CPFL PAULISTA,33413906.0,0.025406
15,Taubaté,278686.0,58290.80,28,625003,1814969,822145.0,19329,1278983,293212,4228638.0,EDP SP,6356566.0,0.665239
16,Votuporanga,84692.0,31236.51,21,420703,134064,289003.0,143025,417468,123718,1107278.0,ELEKTRO,10001461.0,0.110712
17,Jales,47012.0,32977.60,21,368574,88001,147762.0,37780,226516,60743,560802.0,ELEKTRO,10001461.0,0.056072
18,Valparaiso,22576.0,31420.79,24,857661,250775,22358.0,9558,86510,45614,414815.0,CPFL PAULISTA,33413906.0,0.012414
19,Jose Bonifácio,32763.0,34118.53,19,860200,129676,61148.0,47561,168162,47176,453723.0,CPFL PAULISTA,33413906.0,0.013579
20,Ariranha,8547.0,76951.40,27,132624,39082,7751.0,6587,36671,11113,101204.0,CPFL PAULISTA,33413906.0,0.003029
21,Ibitinga,53158.0,24939.53,16,689391,133359,102402.0,29079,269257,88935,623032.0,CPFL PAULISTA,33413906.0,0.018646
22,Casa Branca,28307.0,29941.77,21,864225,40421,46365.0,154704,105834,46954,394278.0,CPFL SANTA CRUZ,2529196.0,0.155891
23,Itapira,68537.0,51107.82,27,518416,631991,135599.0,50040,295290,91932,1204852.0,CPFL PAULISTA,33413906.0,0.036058
24,São Luis do Paraitinga,10397.0,15911.03,19,617315,1664,9883.0,24693,30678,9199,76117.0,ELEKTRO,10001461.0,0.007611
25,Barra Bonita,35246.0,31534.03,23,150121,93212,77052.0,3222,160823,84096,418405.0,CPFL PAULISTA,33413906.0,0.012522
26,Bragança Paulista,146744.0,38406.56,24,512584,1271835,416741.0,92883,750328,186881,2718668.0,ENERGISA SSE-SP,6677447.0,0.407142
27,Moela,290752.0,28417.36,30,144794,463446,1319242.0,5419,1540802,341827,3670736.0,ELEKTRO,10001461.0,0.367020
28,Barra do Turvo,7729.0,12681.92,19,1007684,275,6206.0,3495,17135,3844,30955.0,ELEKTRO,10001461.0,0.003095
29,Pradopolis,17377.0,29431.31,22,167378,25490,14896.0,7637,76399,27455,151877.0,CPFL PAULISTA,33413906.0,0.004545
30,Barretos,112101.0,39577.48,24,1566161,407555,415160.0,134655,585306,197296,1739972.0,CPFL PAULISTA,33413906.0,0.052073
31,Ituverava,38695.0,38094.32,22,704659,44533,90775.0,31231,181596,49707,397842.0,CPFL PAULISTA,33413906.0,0.011906
32,Barueri,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0,ELETROPAULO,144695329.0,0.046568
33,Dracena,43258.0,27573.28,20,487688,48947,134151.0,19708,211313,61113,475232.0,ELEKTRO,10001461.0,0.047516
34,Marília,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0,CPFL PAULISTA,33413906.0,0.082232
35,Bebedouro,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0,CPFL PAULISTA,33413906.0,0.033702
36,Bertioga,47645.0,28923.67,28,491546,12877,349667.0,202,530342,107413,1000501.0,ELEKTRO,10001461.0,0.100035
37,Registro,54261.0,37160.21,22,722201,23195,143247.0,19569,209442,62376,457829.0,ELEKTRO,10001461.0,0.045776
38,São Sebastião,73942.0,40181.39,30,402395,751472,326566.0,561,612298,143235,1834132.0,EDP SP,6356566.0,0.288541
39,Tupã,63476.0,29449.71,20,627986,93648,153794.0,58738,273636,105464,685280.0,ENERGISA SSE-SP,6677447.0,0.102626
40,Cachoeira Paulista,30091.0,18545.37,22,287990,15581,59674.0,10694,122726,85121,293796.0,EDP SP,6356566.0,0.046219
41,São Simão (SP),14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0,CPFL PAULISTA,33413906.0,0.005268
42,São Paulo-SESC Interlagos,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0,0.476716

## Unindo todos os dados

In [76]:
df_final = df_new_4.merge(df_cid_3, how='left', on='cidade')
df_final

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora_x,carga,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total,distribuidora_y,consumo_total_distr,consumo_proporcional
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.1,21.0,21.3,23.444194,22.889973,24.049059,ELETROPAULO,3691.689941,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0,0.476716
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.2,21.2,21.7,24.351405,23.707942,25.003154,CPFL PAULISTA,2569.709961,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0,CPFL PAULISTA,33413906.0,0.138937
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.4,15.2,15.5,18.026821,17.386127,18.730534,ELEKTRO,1715.364014,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0,ELEKTRO,10001461.0,0.063906
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.7,22.7,23.2,25.955840,25.373510,26.576558,ENERGISA SSE-SP,368.049011,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0,ENERGISA SSE-SP,6677447.0,0.434605
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.5,19.5,20.1,23.050941,22.403333,23.746747,CPFL PAULISTA,2569.709961,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0,CPFL PAULISTA,33413906.0,0.105090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,-23.523890,-46.869446,2022-03-31 23:00:00,17.0,16.9,17.1,22.394280,21.822147,22.997316,ELETROPAULO,4829.259766,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0,ELETROPAULO,144695329.0,0.046568
1533042,A763,Marília,-22.235222,-49.965110,2022-03-31 23:00:00,17.8,17.8,18.2,24.237866,23.606976,24.907573,CPFL PAULISTA,3982.825928,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0,CPFL PAULISTA,33413906.0,0.082232
1533043,A764,Bebedouro,-20.949167,-48.490000,2022-03-31 23:00:00,20.0,20.0,20.9,25.563506,24.929171,26.210542,CPFL PAULISTA,3982.825928,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0,CPFL PAULISTA,33413906.0,0.033702
1533044,A770,São Simão (SP),-21.461111,-47.579445,2022-03-31 23:00:00,20.4,20.3,21.0,24.662732,23.954681,25.417956,CPFL PAULISTA,3982.825928,14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0,CPFL PAULISTA,33413906.0,0.005268
1533045,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-03-31 23:00:00,16.5,16.4,16.7,21.963183,21.434620,22.536876,ELETROPAULO,4829.259766,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0,0.476716

In [77]:
df_final['carga_cidade'] = df_final['carga']*df_final['consumo_proporcional']
df_final

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora_x,carga,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total,distribuidora_y,consumo_total_distr,consumo_proporcional,carga_cidade
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.1,21.0,21.3,23.444194,22.889973,24.049059,ELETROPAULO,3691.689941,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0,0.476716,1759.886898
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.2,21.2,21.7,24.351405,23.707942,25.003154,CPFL PAULISTA,2569.709961,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0,CPFL PAULISTA,33413906.0,0.138937,357.028573
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.4,15.2,15.5,18.026821,17.386127,18.730534,ELEKTRO,1715.364014,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0,ELEKTRO,10001461.0,0.063906,109.621475
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.7,22.7,23.2,25.955840,25.373510,26.576558,ENERGISA SSE-SP,368.049011,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0,ENERGISA SSE-SP,6677447.0,0.434605,159.956114
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.5,19.5,20.1,23.050941,22.403333,23.746747,CPFL PAULISTA,2569.709961,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0,CPFL PAULISTA,33413906.0,0.105090,270.049560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,-23.523890,-46.869446,2022-03-31 23:00:00,17.0,16.9,17.1,22.394280,21.822147,22.997316,ELETROPAULO,4829.259766,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0,ELETROPAULO,144695329.0,0.046568,224.890969
1533042,A763,Marília,-22.235222,-49.965110,2022-03-31 23:00:00,17.8,17.8,18.2,24.237866,23.606976,24.907573,CPFL PAULISTA,3982.825928,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0,CPFL PAULISTA,33413906.0,0.082232,327.515227
1533043,A764,Bebedouro,-20.949167,-48.490000,2022-03-31 23:00:00,20.0,20.0,20.9,25.563506,24.929171,26.210542,CPFL PAULISTA,3982.825928,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0,CPFL PAULISTA,33413906.0,0.033702,134.230098
1533044,A770,São Simão (SP),-21.461111,-47.579445,2022-03-31 23:00:00,20.4,20.3,21.0,24.662732,23.954681,25.417956,CPFL PAULISTA,3982.825928,14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0,CPFL PAULISTA,33413906.0,0.005268,20.983141
1533045,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-03-31 23:00:00,16.5,16.4,16.7,21.963183,21.434620,22.536876,ELETROPAULO,4829.259766,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,ELETROPAULO,144695329.0,0.476716,2302.184399

In [80]:
# df_final.to_csv('../../data/processed/data_final.csv')

## Testando merges

In [86]:
df_final.drop('distribuidora_y', axis=1, inplace=True)
df_final.rename(columns={'distribuidora_x':'distribuidora'}, inplace=True)

In [88]:
df_final

,estacao,cidade,lat,lon,datetime,temp_ins,temp_min,temp_max,temp_ins_group,temp_min_group,temp_max_group,distribuidora,carga,populacao,pib_per_capita,salario_medio_mensal,area_territorial,consumo_industrial,consumo_comercio,consumo_rural,consumo_residencial,consumo_iluminacao,consumo_total,consumo_total_distr,consumo_proporcional,carga_cidade
0,A701,São Paulo - Mirante de Santana,-23.483334,-46.616665,2018-01-01 00:00:00,21.1,21.0,21.3,23.444194,22.889973,24.049059,ELETROPAULO,3691.689941,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,144695329.0,0.476716,1759.886898
1,A705,Bauru,-22.358055,-49.028890,2018-01-01 00:00:00,21.2,21.2,21.7,24.351405,23.707942,25.003154,CPFL PAULISTA,2569.709961,343937.0,40668.42,26,667684,839421,1332884.0,46810,1823814,599509,4642438.0,33413906.0,0.138937,357.028573
2,A706,Campos do Jordão,-22.750278,-45.603890,2018-01-01 00:00:00,15.4,15.2,15.5,18.026821,17.386127,18.730534,ELEKTRO,1715.364014,47789.0,25312.30,18,289981,78357,202459.0,3088,275909,79337,639150.0,10001461.0,0.063906,109.621475
3,A707,Presidente Prudente,-22.120000,-51.400000,2018-01-01 00:00:00,22.7,22.7,23.2,25.955840,25.373510,26.576558,ENERGISA SSE-SP,368.049011,207610.0,36663.15,24,560637,387760,953907.0,39779,1117855,402754,2902055.0,6677447.0,0.434605,159.956114
4,A708,Franca,-20.580000,-47.380000,2018-01-01 00:00:00,19.5,19.5,20.1,23.050941,22.403333,23.746747,CPFL PAULISTA,2569.709961,318640.0,28787.49,20,605679,686909,708625.0,42331,1558035,515551,3511451.0,33413906.0,0.105090,270.049560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,-23.523890,-46.869446,2022-03-31 23:00:00,17.0,16.9,17.1,22.394280,21.822147,22.997316,ELETROPAULO,4829.259766,240749.0,192647.61,40,65701,1265504,3688191.0,0,1463993,320544,6738232.0,144695329.0,0.046568,224.890969
1533042,A763,Marília,-22.235222,-49.965110,2022-03-31 23:00:00,17.8,17.8,18.2,24.237866,23.606976,24.907573,CPFL PAULISTA,3982.825928,216745.0,35098.66,24,1170515,586653,633304.0,36402,1056378,434951,2747688.0,33413906.0,0.082232,327.515227
1533043,A764,Bebedouro,-20.949167,-48.490000,2022-03-31 23:00:00,20.0,20.0,20.9,25.563506,24.929171,26.210542,CPFL PAULISTA,3982.825928,75035.0,42748.59,23,683192,340041,224398.0,82279,364151,115254,1126123.0,33413906.0,0.033702,134.230098
1533044,A770,São Simão (SP),-21.461111,-47.579445,2022-03-31 23:00:00,20.4,20.3,21.0,24.662732,23.954681,25.417956,CPFL PAULISTA,3982.825928,14346.0,30305.11,20,617252,58738,28563.0,12889,56882,18966,176038.0,33413906.0,0.005268,20.983141
1533045,A771,São Paulo-SESC Interlagos,-23.724500,-46.677500,2022-03-31 23:00:00,16.5,16.4,16.7,21.963183,21.434620,22.536876,ELETROPAULO,4829.259766,5626751.5,62341.21,41,760601,7050446,26846907.5,5844,27511182,7564169,68978548.5,144695329.0,0.476716,2302.184399

In [93]:
df_corte = df_final[['estacao', 'cidade', 'datetime', 'distribuidora', 'carga']]
df_corte['temp_mean'] = df_final[['temp_ins', 'temp_min', 'temp_max']].mean(axis=1)
df_corte

C:\Users\Vinicius\AppData\Local\Temp\ipykernel_13884\2617977230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corte['temp_mean'] = df_final[['temp_ins', 'temp_min', 'temp_max']].mean(axis=1)

,estacao,cidade,datetime,distribuidora,carga,temp_mean
0,A701,São Paulo - Mirante de Santana,2018-01-01 00:00:00,ELETROPAULO,3691.689941,21.133333
1,A705,Bauru,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,21.366667
2,A706,Campos do Jordão,2018-01-01 00:00:00,ELEKTRO,1715.364014,15.366667
3,A707,Presidente Prudente,2018-01-01 00:00:00,ENERGISA SSE-SP,368.049011,22.866667
4,A708,Franca,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,19.700000
...,...,...,...,...,...,...
1533041,A755,Barueri,2022-03-31 23:00:00,ELETROPAULO,4829.259766,17.000000
1533042,A763,Marília,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,17.933333
1533043,A764,Bebedouro,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.300000
1533044,A770,São Simão (SP),2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.566667
1533045,A771,São Paulo-SESC Interlagos,2022-03-31 23:00:00,ELETROPAULO,4829.259766,16.533333

In [97]:
df_est_dum = pd.get_dummies(df_corte['cidade'])
df_est_dum

,Ariranha,Avare,Barra Bonita,Barra do Turvo,Barretos,Barueri,Bauru,Bebedouro,Bertioga,Bragança Paulista,Cachoeira Paulista,Campos do Jordão,Casa Branca,Dracena,Franca,Ibitinga,Iguape,Itapeva,Itapira,Ituverava,Jales,Jose Bonifácio,Lins,Marília,Ourinhos,Piracicaba,Pradopolis,Presidente Prudente,Rancharia,Registro,Sorocaba,São Carlos,São Luis do Paraitinga,São Miguel Arcanjo,São Paulo - Mirante de Santana,São Paulo-SESC Interlagos,São Sebastião,São Simão (SP),Taubaté,Tupã,Valparaiso,Votuporanga
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1533042,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1533043,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1533044,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1533045,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [98]:
df_corte['ano'] = df_corte['datetime'].dt.year
df_corte['mes'] = df_corte['datetime'].dt.month
df_corte['dia'] = df_corte['datetime'].dt.day
df_corte['hora'] = df_corte['datetime'].dt.hour
df_corte

C:\Users\Vinicius\AppData\Local\Temp\ipykernel_13884\2896894966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corte['ano'] = df_corte['datetime'].dt.year
C:\Users\Vinicius\AppData\Local\Temp\ipykernel_13884\2896894966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corte['mes'] = df_corte['datetime'].dt.month
C:\Users\Vinicius\AppData\Local\Temp\ipykernel_13884\2896894966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corte['dia'] = df_corte['datetime'].dt.day
C:\Users\Vinicius\AppData\Local\Temp\ipykernel_13884\2896894966.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corte['hora'] = df_corte['datetime'].dt.hour

,estacao,cidade,datetime,distribuidora,carga,temp_mean,ano,mes,dia,hora
0,A701,São Paulo - Mirante de Santana,2018-01-01 00:00:00,ELETROPAULO,3691.689941,21.133333,2018,1,1,0
1,A705,Bauru,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,21.366667,2018,1,1,0
2,A706,Campos do Jordão,2018-01-01 00:00:00,ELEKTRO,1715.364014,15.366667,2018,1,1,0
3,A707,Presidente Prudente,2018-01-01 00:00:00,ENERGISA SSE-SP,368.049011,22.866667,2018,1,1,0
4,A708,Franca,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,19.700000,2018,1,1,0
...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,2022-03-31 23:00:00,ELETROPAULO,4829.259766,17.000000,2022,3,31,23
1533042,A763,Marília,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,17.933333,2022,3,31,23
1533043,A764,Bebedouro,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.300000,2022,3,31,23
1533044,A770,São Simão (SP),2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.566667,2022,3,31,23
1533045,A771,São Paulo-SESC Interlagos,2022-03-31 23:00:00,ELETROPAULO,4829.259766,16.533333,2022,3,31,23

In [99]:
df_mes_dum = pd.get_dummies(df_corte['mes'])
df_mes_dum

         1   2   3   4   5   6   7   8   9   10  11  12
0         1   0   0   0   0   0   0   0   0   0   0   0
1         1   0   0   0   0   0   0   0   0   0   0   0
2         1   0   0   0   0   0   0   0   0   0   0   0
3         1   0   0   0   0   0   0   0   0   0   0   0
4         1   0   0   0   0   0   0   0   0   0   0   0
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
1533041   0   0   1   0   0   0   0   0   0   0   0   0
1533042   0   0   1   0   0   0   0   0   0   0   0   0
1533043   0   0   1   0   0   0   0   0   0   0   0   0
1533044   0   0   1   0   0   0   0   0   0   0   0   0
1533045   0   0   1   0   0   0   0   0   0   0   0   0

[1533046 rows x 12 columns]

In [100]:
df_final_2 = pd.concat([df_corte, df_mes_dum, df_est_dum], axis=1)
df_final_2

,estacao,cidade,datetime,distribuidora,carga,temp_mean,ano,mes,dia,hora,1,2,3,4,5,6,7,8,9,10,11,12,Ariranha,Avare,Barra Bonita,Barra do Turvo,Barretos,Barueri,Bauru,Bebedouro,Bertioga,Bragança Paulista,Cachoeira Paulista,Campos do Jordão,Casa Branca,Dracena,Franca,Ibitinga,Iguape,Itapeva,Itapira,Ituverava,Jales,Jose Bonifácio,Lins,Marília,Ourinhos,Piracicaba,Pradopolis,Presidente Prudente,Rancharia,Registro,Sorocaba,São Carlos,São Luis do Paraitinga,São Miguel Arcanjo,São Paulo - Mirante de Santana,São Paulo-SESC Interlagos,São Sebastião,São Simão (SP),Taubaté,Tupã,Valparaiso,Votuporanga
0,A701,São Paulo - Mirante de Santana,2018-01-01 00:00:00,ELETROPAULO,3691.689941,21.133333,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,A705,Bauru,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,21.366667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,A706,Campos do Jordão,2018-01-01 00:00:00,ELEKTRO,1715.364014,15.366667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,A707,Presidente Prudente,2018-01-01 00:00:00,ENERGISA SSE-SP,368.049011,22.866667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,A708,Franca,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,19.700000,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,2022-03-31 23:00:00,ELETROPAULO,4829.259766,17.000000,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1533042,A763,Marília,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,17.933333,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1533043,A764,Bebedouro,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.300000,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1533044,A770,São Simão (SP),2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.566667,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1533045,A771,São Paulo-SESC Interlagos,2022-03-31 23:00:00,ELETROPAULO,4829.259766,16.533333,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [101]:
# df_final_2.to_csv('../../data/processed/df_final_2.csv', index=False)

## Concatenando com cluster

In [102]:
df_clusters = pd.read_excel('../../data/processed/df_clusters.xlsx')
df_clusters

                            cidade  cluster
0   São Paulo - Mirante de Santana        1
1                            Bauru        2
2                 Campos do Jordão        2
3              Presidente Prudente        2
4                           Franca        2
5                       São Carlos        0
6                           Iguape        0
7                         Sorocaba        2
8                          Itapeva        0
9               São Miguel Arcanjo        0
10                        Ourinhos        2
11                       Rancharia        0
12                           Avare        0
13                      Piracicaba        0
14                            Lins        2
15                         Taubaté        2
16                     Votuporanga        0
17                           Jales        2
18                      Valparaiso        2
19                  Jose Bonifácio        2
20                        Ariranha        2
21                        Ibitinga        2
22                     Casa Branca        0
23                         Itapira        2
24          São Luis do Paraitinga        2
25                    Barra Bonita        2
26               Bragança Paulista        0
27                           Moela        2
28                  Barra do Turvo        2
29                      Pradopolis        2
30                        Barretos        0
31                       Ituverava        2
32                         Barueri        3
33                         Dracena        2
34                         Marília        0
35                       Bebedouro        0
36                        Bertioga        2
37                        Registro        2
38                   São Sebastião        2
39                            Tupã        2
40              Cachoeira Paulista        2
41                  São Simão (SP)        2
42       São Paulo-SESC Interlagos        1

In [103]:
df_final_3 = df_final_2.merge(df_clusters, how='left', on='cidade')

In [106]:
df_horas_dum = pd.get_dummies(df_corte['hora'], prefix='hora')
df_horas_dum

,hora_0,hora_1,hora_2,hora_3,hora_4,hora_5,hora_6,hora_7,hora_8,hora_9,hora_10,hora_11,hora_12,hora_13,hora_14,hora_15,hora_16,hora_17,hora_18,hora_19,hora_20,hora_21,hora_22,hora_23
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533042,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533043,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533044,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533045,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [109]:
df_cluster_dum = pd.get_dummies(df_final_3['cluster'], prefix='cluster')
df_cluster_dum

         cluster_0  cluster_1  cluster_2  cluster_3
0                0          1          0          0
1                0          0          1          0
2                0          0          1          0
3                0          0          1          0
4                0          0          1          0
...            ...        ...        ...        ...
1533041          0          0          0          1
1533042          1          0          0          0
1533043          1          0          0          0
1533044          0          0          1          0
1533045          0          1          0          0

[1533046 rows x 4 columns]

In [107]:
df_final_3 = pd.concat([df_final_3, df_horas_dum], axis=1)
df_final_3

,estacao,cidade,datetime,distribuidora,carga,temp_mean,ano,mes,dia,hora,1,2,3,4,5,6,7,8,9,10,11,12,Ariranha,Avare,Barra Bonita,Barra do Turvo,Barretos,Barueri,Bauru,Bebedouro,Bertioga,Bragança Paulista,Cachoeira Paulista,Campos do Jordão,Casa Branca,Dracena,Franca,Ibitinga,Iguape,Itapeva,Itapira,Ituverava,Jales,Jose Bonifácio,Lins,Marília,Ourinhos,Piracicaba,Pradopolis,Presidente Prudente,Rancharia,Registro,Sorocaba,São Carlos,São Luis do Paraitinga,São Miguel Arcanjo,São Paulo - Mirante de Santana,São Paulo-SESC Interlagos,São Sebastião,São Simão (SP),Taubaté,Tupã,Valparaiso,Votuporanga,cluster,hora_0,hora_1,hora_2,hora_3,hora_4,hora_5,hora_6,hora_7,hora_8,hora_9,hora_10,hora_11,hora_12,hora_13,hora_14,hora_15,hora_16,hora_17,hora_18,hora_19,hora_20,hora_21,hora_22,hora_23
0,A701,São Paulo - Mirante de Santana,2018-01-01 00:00:00,ELETROPAULO,3691.689941,21.133333,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,A705,Bauru,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,21.366667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,A706,Campos do Jordão,2018-01-01 00:00:00,ELEKTRO,1715.364014,15.366667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,A707,Presidente Prudente,2018-01-01 00:00:00,ENERGISA SSE-SP,368.049011,22.866667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,A708,Franca,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,19.700000,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,2022-03-31 23:00:00,ELETROPAULO,4829.259766,17.000000,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533042,A763,Marília,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,17.933333,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533043,A764,Bebedouro,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.300000,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533044,A770,São Simão (SP),2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.566667,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1533045,A771,São Paulo-SESC Interlagos,2022-03-31 23:00:00,ELETROPAULO,4829.259766,16.533333,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [110]:
df_final_3 = pd.concat([df_final_3, df_cluster_dum], axis=1)
df_final_3

,estacao,cidade,datetime,distribuidora,carga,temp_mean,ano,mes,dia,hora,1,2,3,4,5,6,7,8,9,10,11,12,Ariranha,Avare,Barra Bonita,Barra do Turvo,Barretos,Barueri,Bauru,Bebedouro,Bertioga,Bragança Paulista,Cachoeira Paulista,Campos do Jordão,Casa Branca,Dracena,Franca,Ibitinga,Iguape,Itapeva,Itapira,Ituverava,Jales,Jose Bonifácio,Lins,Marília,Ourinhos,Piracicaba,Pradopolis,Presidente Prudente,Rancharia,Registro,Sorocaba,São Carlos,São Luis do Paraitinga,São Miguel Arcanjo,São Paulo - Mirante de Santana,São Paulo-SESC Interlagos,São Sebastião,São Simão (SP),Taubaté,Tupã,Valparaiso,Votuporanga,cluster,hora_0,hora_1,hora_2,hora_3,hora_4,hora_5,hora_6,hora_7,hora_8,hora_9,hora_10,hora_11,hora_12,hora_13,hora_14,hora_15,hora_16,hora_17,hora_18,hora_19,hora_20,hora_21,hora_22,hora_23,cluster_0,cluster_1,cluster_2,cluster_3
0,A701,São Paulo - Mirante de Santana,2018-01-01 00:00:00,ELETROPAULO,3691.689941,21.133333,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,A705,Bauru,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,21.366667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,A706,Campos do Jordão,2018-01-01 00:00:00,ELEKTRO,1715.364014,15.366667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,A707,Presidente Prudente,2018-01-01 00:00:00,ENERGISA SSE-SP,368.049011,22.866667,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,A708,Franca,2018-01-01 00:00:00,CPFL PAULISTA,2569.709961,19.700000,2018,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533041,A755,Barueri,2022-03-31 23:00:00,ELETROPAULO,4829.259766,17.000000,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1533042,A763,Marília,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,17.933333,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1533043,A764,Bebedouro,2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.300000,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1533044,A770,São Simão (SP),2022-03-31 23:00:00,CPFL PAULISTA,3982.825928,20.566667,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
1533045,A771,São Paulo-SESC Interlagos,2022-03-31 23:00:00,ELETROPAULO,4829.259766,16.533333,2022,3,31,23,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0

In [111]:
# df_final_3.to_csv('../../data/processed/df_final_3.csv', index=False)

## Verificando cidades de cada distribuidora

In [83]:
df_verif = pd.read_excel('../../data/raw/Distribuidoras_Area_Atuacao.xlsx')
df_verif.rename(columns={'Distribuidora':'distribuidora', 'Município':'cidade', 'Estado':'estado'}, inplace=True)
df_verif

       distribuidora                  cidade estado
0    CPFL SANTA CRUZ  Águas de Santa Bárbara     SP
1    CPFL SANTA CRUZ                  Arandu     SP
2    CPFL SANTA CRUZ                   Avaré     SP
3    CPFL SANTA CRUZ         Barra do Jacaré     PR
4    CPFL SANTA CRUZ    Bernardino de Campos     SP
..               ...                     ...    ...
659  ENERGISA SSE-SP                  Toledo     MG
660  ENERGISA SSE-SP                  Tuiuti     SP
661  ENERGISA SSE-SP                    Tupã     SP
662  ENERGISA SSE-SP                  Urupês     SP
663  ENERGISA SSE-SP                  Vargem     SP

[664 rows x 3 columns]

In [84]:
df_verif['distribuidora'].value_counts()

CPFL PAULISTA       234
ELEKTRO             232
ENERGISA SSE-SP      92
EDP SP               28
CPFL SANTA CRUZ      27
CPFL PIRATININGA     27
ELETROPAULO          24
Name: distribuidora, dtype: int64